.navbar-nav i{
  color: white;
}

/** apartment-new **/

.landing-page-col a img{
  width:200px;
  height:200px;
}

.landing-page-col h3{
  border-top: 1px solid grey;
}

.detail-page-col img{
  width:300px;
  height:300px;
}

.detail-page-col h3{
  border-top: 1px solid grey;
}

.trash-form{
  display: inline-block;
}
