extends ../../layouts/master
block content
  h3 Current Clients
  
  button.btn.btn-default
    a(href='tenants/new')
      span.glyphicon.glyphicon-plus
        
  .row
    each tenant in tenants
      .col-sm-4.col-xs-12.landing-page-col
        a(href='tenants/#{tenant._id}')
          img(src='#{tenant.photo}')
        .row
          .col-xs-12
            .panel.panel-primary
              .panel-heading
                h3.panel-titlen #{tenant.name}
