doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Apartments U
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/vendor/compenents-font-awesome/css/font-awesome-min.css')
    link(rel='stylesheet', href='/style.css')
  body
    include ../partials/nav
    .container-fluid
      .row
        .col-xs-12
          block content
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
