extends ../../layouts/master
block content
  h3 Apartments Available
  
  .row.button-row
    button.btn.btn-default
      a(href='apartments/new')
        span.glyphicon.glyphicon-plus
          
  .row
    each apartment in apartments
      if apartment.tenants.length !== apartment.numRooms
        .col-sm-4.col-xs-12.landing-page-col
          a(href='apartments/#{apartment._id}')
            img(src='#{apartment.photo}')
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading
                  h3.panel-titlen #{apartment.name}
                  p Starting at $ #{apartment.roomPrice}
