extends ../../layouts/master
block content
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          h3.panel-titlen Admin Overview
        .panel-body
          ul.list-group
            li.list-group-item
              span Total Revenue:&nbsp; $
              span= data.totalRev
            li.list-group-item
              span Total Rooms Occupied:&nbsp;
              span= data.roomsOcup
            li.list-group-item
              span Total Rooms Vacant:&nbsp;
              span= data.roomsVac
            li.list-group-item
              span Apartments Vacant:&nbsp;
              span= data.apartOpen
  
  //- .row
  //-   .col-xs-12.col-sm-offset-1.col-sm-10
  //-     p total rev
  //-     p= data.totalRev
  //-     p rooms Oc
  //-     p= data.roomsOcup
  //-     p rooms vac
  //-     p= data.roomsVac
  //-     p apart open
  //-     p= data.apartOpen
